<form action="?submit" method="post">

    <div class="bar">
        <div class="bar__title">CMS Add-ons</div>
    </div>

    <div class="block">
        {% if addons is empty %}
            <p>There are currently no CMS Add-ons enabled.</p>
        {%  endif %}
        {% for addon in addons %}
            <h3>{{ addon.title }}</h3>
            <div class="field">
                <div>
                    <label class="toggle" for="{{ addon.value }}">
                        <input type="radio" name="{{ addon.value }}" id="{{ addon.value }}_true" value=1{{ addon.enabled ? ' checked' : '' }}>
                        <span class="toggle__label">On</span>
                    </label>
                    <label class="toggle" for="{{ addon.value }}_false">
                        <input type="radio" name="{{ addon.value }}" id="{{ addon.value }}_false" value=0{{ not addon.enabled ? ' checked' : '' }}>
                        <span class="toggle__label">Off</span>
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="btns btns--stickyB">
        <div class="R">
            <button class="btn btn--positive" type="submit">
                <svg class="icon icon-check mar0">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/backend/img/icos.svg#icon-check"></use>
                </svg>
                Save
            </button>
        </div>
    </div>
</form>
